monf:
  build: ../../
  dockerfile: ./environment/dev/Dockerfile
  ports:
    - "3000:3000"
    - "6060:6060"
    - "8080:8080"
  volumes:
    - ./../../:/go/src/github.com/slok/monf
#  links:
#    - etcd:db
#

  hostname: monf-dev
  command: /bin/true

  user: monf

#etcd:
#  image: quay.io/coreos/etcd:v2.2.1
#  ports:
#    - "4001:4001" # Old versions api
#    - "2380:2380" # Peer port
#    - "2379:2379" # 2.x versions api
#
#  command: >
#    --name etcd0
#    --advertise-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001
#    --listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001
#    --initial-advertise-peer-urls http://0.0.0.0:2380
#    --listen-peer-urls http://0.0.0.0:2380
#    --initial-cluster-token etcd-cluster-1
#    --initial-cluster etcd0=http://0.0.0.0:2380
#    --initial-cluster-state new
#    --debug
#
